.container {
  background-color: white;
}

.settingsContainer {
  flex: 1;
  display: flex;
  margin-right: 1rem;
  padding: 2rem;
}

.infoContainer {
  margin-left: 2rem;
}

.row {
  display: flex;
  margin-bottom: 0.5rem;
}

.label {
  width: 8rem;
  margin-right: 1rem;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.quantity {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: #a6dbff;
  color: white;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem !important;
}