<ion-content>
  <div class="container-main">
    <div class="image-overlay"></div>
    <div class="login-form-container">
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginUser(loginForm.value)">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario o Email</ion-label>
          <ion-input formControlName="login"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validationMessages.login">
            <div *ngIf="
            loginForm.get('login').hasError(validation.type) &&
            (loginForm.get('login').dirty || loginForm.get('login').touched)
            ">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validationMessages.login">
            <div *ngIf="
            loginForm.get('password').hasError(validation.type) &&
            (loginForm.get('password').dirty || loginForm.get('password').touched)
            ">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-button expand="full"
          fill="solid"
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid">Ingresar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full"
    fill="solid"
    color="secondary"
    (click)="redirectToProducts()">¿Necesitas un usuario?</ion-button>
</ion-footer>
