:host {
  height: 100%;
}

.moi-students-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  height: 100%;
}

.moi-students-list-item-label {
  margin-right: 0.5rem;
}

.moi-students-list-content {
  min-height: 10rem;
}

.moi-cancel-request-icon {
  font-size: 1.5rem;
}

.moi-item-pending-request {
  // --background: #f2f2f2;
}
