<moi-card title="Enviar un Test" theme="red">
  <form [formGroup]="quizzesForm" (ngSubmit)="sendQuiz(quizzesForm.value)">
    <ion-item>
      <ion-label>Selecciona un nivel</ion-label>
      <ion-select formControlName="level">
        <ion-select-option [value]="level.id" *ngFor="let level of levels">
          {{level.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select formControlName="student" [disabled]="quizzesForm.value.sendToAll === true">
        <ion-select-option [value]="student.id" *ngFor="let student of students">
          {{student.username}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox formControlName="sendToAll" color="primary" checked="false" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-button color="primary" disabled>
        ver preguntas
      </ion-button>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button color="secondary"
          fill="solid"
          disabled="true"
          disabled>
          Crear nuevo nivel
        </ion-button>
        <ion-button color="primary"
          type="submit"
          [disabled]="validateForm(quizzesForm) || (sending$ | async)"
          fill="solid">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
