<moi-card title="Enviar un Test" theme="red">
  <form action="">
    <ion-item>
      <ion-label>Selecciona un nivel</ion-label>
      <ion-select value="03">
        <ion-select-option value="01">Nivel 1</ion-select-option>
        <ion-select-option value="02">Nivel 2</ion-select-option>
        <ion-select-option value="03">Nivel 3</ion-select-option>
        <ion-select-option value="04">Nivel 4</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select>
        <ion-select-option [value]="student.id" *ngFor="let student of students">
          {{student.username}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-button color="primary">
        ver preguntas
      </ion-button>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button color="secondary"
          fill="outline"
          disabled="true">
          Crear nuevo nivel
        </ion-button>
        <ion-button color="primary"
          fill="outline">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
