<moi-card title="Enviar Recomendaciones" theme="yellow">
  <form [formGroup]="recommendationsForm" (ngSubmit)="sendRecommendation(recommendationsForm.value)">
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select formControlName="student" [disabled]="recommendationsForm.value.sendToAll === true">
        <ion-select-option [value]="student.id" *ngFor="let student of students$ | async">
          {{student.username}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox formControlName="sendToAll" color="primary" slot="start" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Recompensa</ion-label>
      <ion-select formControlName="achievement">
        <ion-select-option [value]="achievement.id" *ngFor="let achievement of achievements$ | async">
          {{achievement.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Contenidos no aprendidos</ion-label>
      <ion-select value="02" multiple>
        <ion-select-option value="01">Contenido 1</ion-select-option>
        <ion-select-option value="02">Contenido 2</ion-select-option>
        <ion-select-option value="03">Contenido 3</ion-select-option>
        <ion-select-option value="04">Contenido 4</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button color="secondary"
          fill="outline">
          Crear recompensa
        </ion-button>
        <ion-button color="primary"
          fill="outline">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
