<moi-card title="Enviar Recomendaciones" theme="yellow">
  <form [formGroup]="recommendationsForm" (ngSubmit)="sendRecommendation(recommendationsForm.value)">
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select [(ngModel)]="student" (ionChange)="loadContentsForStudent(student)" formControlName="student" [disabled]="recommendationsForm.value.sendToAll === true">
        <ion-select-option [value]="student.id" *ngFor="let student of students">
          {{student.username}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox [(ngModel)]="sendToAll" (ionChange)="loadContentsForAll(sendToAll)" formControlName="sendToAll" color="primary" slot="start" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Recompensa</ion-label>
      <ion-select formControlName="achievement">
        <ion-select-option [value]="achievement.id" *ngFor="let achievement of achievements$ | async">
          {{achievement.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Contenidos a recomendar</ion-label>
      <ion-select formControlName="contents" multiple="true" [disabled]="(!recommendationsForm.value.student && !recommendationsForm.value.sendToAll) || (loadingContents$ | async)">
        <ion-select-option [value]="content.id" *ngFor="let content of contents$ | async">
          {{content.title}}
        </ion-select-option>
      </ion-select>
      <ion-spinner name="lines-small" *ngIf="loadingContents$ | async" class="moi-recommendations-spinner"></ion-spinner>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <!-- <ion-button color="secondary"
          fill="solid"
          disabled>
          Crear recompensa
        </ion-button> -->
        <ion-button color="primary"
          fill="solid"
          type="submit"
          [disabled]="validateForm(recommendationsForm) || (sending$ | async)">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
