:host {
  --item-hover-color: #eeeeee;
}

.moi-clients-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.moi-clients-list-content {
  min-height: 30rem;
}

.moi-clients-list-item {
  cursor: pointer;
  &:hover {
    --background: var(--item-hover-color);
  }
}

.moi-clients-list-check {
  position: absolute;
  right: 5px;
  top: 10px;
}

.moi-clients-item-buttons {
  width: 100%;
  padding-top: 1rem;
}
