<moi-card title="Usuarios" theme="light-blue" height="95%">
  <div class="moi-clients-card-container" style="position: relative;">
    <ion-toolbar class="moi-clients-card-search-toolbar">
      <ion-searchbar debounce="500" (ionChange)="searchClients($event)">
      </ion-searchbar>
    </ion-toolbar>
    <ion-spinner class="moi-clients-loading" name="lines" *ngIf="loading$ | async; else mainBlock"></ion-spinner>
    <ng-template #mainBlock>
      <div *ngIf="!clients">- No se encontraron elementos -</div>

      <ion-content class="moi-clients-list-content">
        <ion-list>
          <ion-item *ngFor="let client of clients"
            class="moi-clients-list-item"
            (click)="selectClient(client)">
            <ion-avatar slot="start">
              <img *ngIf="!client.selected" src="assets/img/client_avatar_inactive.png">
              <img *ngIf="client.selected" src="assets/img/client_avatar.png">
            </ion-avatar>
            <ion-label>
              <h2>{{client.name || client.username}}</h2>
              <h3>{{client.email}}</h3>
              <p>{{client.username}}</p>
            </ion-label>
            <img class="moi-clients-list-check" *ngIf="client.selected" src="assets/img/check_blue.png">
          </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreClients($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando mas usuarios...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>

      <ion-toolbar class="moi-clients-actions-container">
        <ion-buttons slot="end">
          <ion-button [disabled]="(selectedClients.length === 0) || (sending$ | async)"
            fill="solid"
            color="primary"
            (click)="sendSelectedClients()">
            Enviar Solicitud
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ng-template>
  </div>
</moi-card>
