<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MOI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="moi-dashboard-tabs-container">
    <div>
      <ion-toolbar>
        <ion-segment scrollable color="primary" [value]="cards[0].key" (ionChange)="segmentChanged($event)">
          <ion-segment-button class="moi-dashboard-tab" *ngFor="let card of cards" [value]="card.key">
            <ion-icon [name]="card.icon"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </div>
    <div class="moi-dashboard-tabs-container" [ngSwitch]="selectedTab">
      <moi-clients-card class="moi-dashboard-card" *ngSwitchCase="cards[0].key"></moi-clients-card>
      <moi-students-card *ngSwitchCase="cards[1].key"></moi-students-card>
      <moi-messages-card *ngSwitchCase="cards[2].key"></moi-messages-card>
      <moi-quizzes-card *ngSwitchCase="cards[3].key"></moi-quizzes-card>
      <moi-recommendations-card *ngSwitchCase="cards[4].key"></moi-recommendations-card>
    </div>
  </div>
</ion-content>
