<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MOI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-xs="12">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" padding>
              <moi-clients-card></moi-clients-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col size-md="8" size-xs="12">

        <ion-grid>
          <ion-row>
            <ion-col size-md="6" size-xs="12" padding>
              <moi-card title="Mis Alumnos" theme="light-green">
              </moi-card>
            </ion-col>
            <ion-col size-md="6" size-xs="12" padding>
              <moi-recommendations-card></moi-recommendations-card>
            </ion-col>
            <ion-col size-md="6" size-xs="12" padding>
              <moi-messages-card></moi-messages-card>
            </ion-col>
            <ion-col size-md="6" size-xs="12" padding>
              <moi-quizzes-card></moi-quizzes-card>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
