<moi-card title="Enviar mensaje" theme="pink">
  <form [formGroup]="messagesForm" (ngSubmit)="sendMessage(messagesForm.value)">
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select formControlName="student" [disabled]="messagesForm.value.sendToAll === true">
        <ion-select-option [value]="student.id" *ngFor="let student of students">
          {{student.username}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox formControlName="sendToAll" color="primary" slot="start" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input formControlName="title" placeholder="Título del mensaje"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.title">
        <div *ngIf="
          messagesForm.get('title').hasError(validation.type) &&
          (messagesForm.get('title').dirty || messagesForm.get('title').touched)
        ">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Contenido</ion-label>
      <ion-textarea formControlName="description" placeholder="Un contenido..."></ion-textarea>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.description">
        <div *ngIf="
          messagesForm.get('description').hasError(validation.type) &&
          (messagesForm.get('description').dirty || messagesForm.get('description').touched)
        ">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Video destacado</ion-label>
      <ion-input formControlName="videoUrl" placeholder="https://www.youtube.com/watch?v=qGh7uc5PQuM"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input #imageFile (change)="handleFileInput($event.target.files)" accept=".jpg, .jpeg, .png" type="file"></ion-input>
    </ion-item>
    <ion-toolbar>
      <div>{{messagesForm.value.sendToAll}}</div>
      <ion-buttons slot="primary">
        <ion-button
          fill="solid"
          color="primary"
          type="submit"
          [disabled]="
            (!messagesForm.valid || (!messagesForm.value.student && !messagesForm.value.sendToAll)) ||
            (sending$ | async)
          ">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
