<moi-card title="Enviar mensaje" theme="pink">
  <form action="">
    <ion-item>
      <ion-label>Estudiante</ion-label>
      <ion-select value="03">
        <ion-select-option value="01">Juanito</ion-select-option>
        <ion-select-option value="02">Ana</ion-select-option>
        <ion-select-option value="03">Pedro</ion-select-option>
        <ion-select-option value="04">María</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contenido</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Video destacado</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input accept=".jpg, .jpeg, .png" type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button color="primary">
            Enviar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-item>
  </form>
</moi-card>
