<moi-card title="Enviar mensaje" theme="pink">
  <form action="">
    <ion-item>
      <ion-label>Enviar a</ion-label>
      <ion-select value="03">
        <ion-select-option value="01">Juanito</ion-select-option>
        <ion-select-option value="02">Ana</ion-select-option>
        <ion-select-option value="03">Pedro</ion-select-option>
        <ion-select-option value="04">María</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enviar a todos</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input placeholder="Título del mensaje"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contenido</ion-label>
      <ion-textarea placeholder="Un contenido..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Video destacado</ion-label>
      <ion-input placeholder="https://www.youtube.com/watch?v=qGh7uc5PQuM"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input accept=".jpg, .jpeg, .png" type="file"></ion-input>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button
          fill="outline"
          color="primary">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</moi-card>
